::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#272F4A; /* Цвет дорожки */
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#6c8bef; /* Цвет бегунка  */
}

::-webkit-scrollbar-thumb:hover{
background-color:#4357AD; /*Цвет бегунка при наведении на него курсора.*/
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 8px; /* ширина бегунка  */
}